* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-inline: 25px;
    padding-block: 10px;
    font-size: 25px;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.19);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.421);
}
.forms input[type="url"] {
    padding-inline: 5px;
    padding-block: 10px;
    width: 300px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.32);
}
.forms button {
    padding: 13px;
    background-color: rgb(164, 14, 164);
    color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.156);
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 45px;

}
.panel p {
    text-align: center;
}
.panel h1 {
    position: relative;
    text-align-last: center;
}
.panel h1::after {
    z-index: -1;
    content:"";
    display: inline-block;
    filter: blur(50px);
    background-color: blueviolet;
    width: 100px;
    border-radius: 50%;
    height: 100px;
   
    left: 0;
    top: 0;
    position: absolute;
    animation: move 20s infinite both;
}
.panel h1::before {
      z-index: -1;
    content:"";
    display: inline-block;
    filter: blur(50px);
    background-color: rgb(18, 245, 165);
    width: 100px;
    border-radius: 50%;
    height: 100px;
    left: 0;
    top: 0;
    position: absolute;
    animation: move 20s infinite  reverse;
}
@keyframes move {
    0% {
        top: -150px;
        left: 0%;
    }
    10% {
        top: 150px;
       left: 20%;
    }
    20%{
        left: 30%;
        top: 140px;
    }
    30%{
        left:40%;
        top: 130px;
    }
    100%{
        top: 50%;
        left: 100%;
    }
    
}
a.download {
    font-size:smaller !important;
}

